* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HOME PAGE-------------------- */

.home-container {
  background-color: bisque;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-welcome {
  text-align: center;
  z-index: 3;
  position: relative;
}

.welcome {
  font-size: 4rem;
}

.welcome-p {
  font-size: 2.25rem;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  font-weight: 500;
}

.quote {
  font-size: 1.5rem;
  width: 65%;
  margin: 30px auto;
}

.author {
  text-align: end;
}

.main-page-btn {
  position: relative;
  z-index: 4;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  color: black;
  box-shadow: 0px 2px 5px black;
  transition: 500ms;
  background-color: rgba(255, 255, 255, 0.499);
}
.main-page-btn:hover {
  transform: scale(1.1);
  transition: 500ms;
  letter-spacing: 5px;
}
.main-page-btn a {
  text-decoration: none;
  color: black;
}

.home-img {
  height: 50px;
  position: absolute;
  z-index: 1;
}
.broccoli {
  top: 90%;
  left: 5%;
  animation: img-float 14s infinite ease-in-out;
}
.tomato {
  top: 90%;
  left: 15%;
  animation: img-float 19s infinite ease-in-out;
}
.carrot {
  top: 90%;
  left: 20%;
  animation: img-float 22s infinite ease-in-out;
}
.potato {
  top: 90%;
  left: 25%;
  animation: img-float 17s infinite ease-in-out;
}
.steak {
  top: 90%;
  left: 35%;
  animation: img-float 23s infinite ease-in-out;
}
.bread {
  top: 90%;
  left: 40%;
  animation: img-float 16s infinite ease-in-out;
}
.egg {
  top: 90%;
  left: 45%;
  animation: img-float 21s infinite ease-in-out;
}
.fish {
  top: 90%;
  left: 55%;
  animation: img-float 15s infinite ease-in-out;
}
.noodles {
  top: 90%;
  left: 60%;
  animation: img-float 18s infinite ease-in-out;
}
.banana {
  top: 90%;
  left: 65%;
  animation: img-float 14s infinite ease-in-out;
}
.beef {
  top: 90%;
  left: 75%;
  animation: img-float 25s infinite ease-in-out;
}
.cheese {
  top: 90%;
  left: 85%;
  animation: img-float 21s infinite ease-in-out;
}

@keyframes img-float {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(-2000%);
  }
}

/* @media screen and (min-width: 375px) {
  .home-container {
    height: 100vh;
  }
} */

/* MAIN PAGE-------------------- */

.input-bar {
  width: 500px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 1rem;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.enter-btn {
  width: 500px;
  height: 40px;
  font-size: 20px;
  letter-spacing: 5px;
  box-shadow: 5px 5px 10px black;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: 250ms;
}

.enter-btn:hover {
  opacity: 75%;
  transition: 250ms;
}

.search-field {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  gap: 10px;
  margin: 30px 10px;
  padding: 10px 50px;
}

.meal-container {
  background-color: bisque;
  border-radius: 50px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-title {
  margin-top: auto;
}

.meal-container img {
  height: 300px;
  margin-top: auto;
  border-radius: 50px;
}

.recipe-btn {
  padding: 7px 15px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 0.9rem;
  background-color: white;
  box-shadow: 0px 2px 4px black;
  transition: 250ms;
  margin-top: 10px;
}

.recipe-btn:hover {
  opacity: 50%;
  transition: 250ms;
}

.error-message {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
}

@media screen and (max-width: 1340px) {
  .search-field {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal-container img {
    height: 250px;
  }
}


@media screen and (max-width: 600px) {
  .search-field {
    grid-template-columns: repeat(1, 1fr);
  }
  .input-bar {
    width: 300px;
  }
  .enter-btn {
    width: 300px;
  }
  .search-field {
    padding: 0;
  }
}

/* RECIPE DETAILS */

.details-container {
  width: 70%;
  height: 90%;
  margin: auto;
  background-color: burlywood;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  box-shadow: 0px 20px 50px black;
  display: flex;
  overflow: auto;
}
.details-content {
  visibility: hidden;
}

.show-recipe {
  visibility: visible;
}

.recipe-details {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.close-recipe {
  position: absolute;
  top: 5%;
  left: 90%;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 35px;
  height: 35px;
  border: none;
  box-shadow: 0px 1px 4px;
  cursor: pointer;
}

.details-name {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.details-category {
  font-size: 1.5rem;
  margin-top: 10px;
}

.instructions {
  width: 80%;
  margin: 30px auto;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.recipe-img {
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.tutorial {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0px 1px 2px;
  font-size: 1rem;
  margin-bottom: 10px;
}
.tutorial a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 519px) {
  .close-recipe {
    left: 85%;
  }
}
